.glass {
    /* From https://css.glass */
    background: rgba(112, 112, 112, 0.43);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    /* border: 1px solid rgba(112, 112, 112, 0.3); */
}

.bg-rd {
    border-radius: 5px 0px 0px 5px;
}

.bg-rd2 {
    border-radius: 0px 5px 5px 0px;
}

.gridify {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.gridify-secondary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gridify-third {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.backgroundify {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://images.unsplash.com/photo-1627334901021-b7378029fd05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
    background-position: center center;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sticky {
    width: auto;
    position: fixed;
    bottom: 10px;
}